body {
  margin: 0;
  font-family: Arial;
  background: #eef2f7;
}

/* LOGIN */
.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1E3A5F;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  background: #1E3A5F;
  color: white;
  height: 100vh;
  float: left;
  padding: 20px;
}

/* MAIN */
.main {
  margin-left: 220px;
  padding: 20px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  min-width: 150px;
}

/* ROOMS */
.room {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  color: white;
}

.available { background: #2ecc71; }
.occupied { background: #e74c3c; }
.cleaning { background: #f1c40f; color: black; }
.maintenance { background: #7f8c8d; }
